@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Rokkitt:wght@400;700;900&display=swap');

:root {
       --main-color: black;
}

body {
    min-width: 1162px;
    margin: auto;
}

header {
    background-image: url(../img/background_header.png);
    background-size: cover;
    background-position: center;
    min-height: 800px;
    min-width: 1162px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* position: relative; */
}

.logo {
    font-family: 'Rokkitt', serif;
    font-weight: 900;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
}   

.navigation-menu {
    text-align: center;
}

.menu {
    text-decoration: none;
    font-family: 'Rokkitt', serif;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin-right: 50px;
}

.caffe-name {
    font-family: 'Rokkitt', serif;
    font-weight: 900;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
}

.information {
    font-family: 'Rokkitt', serif;
    font-weight: 700;
    font-size: 28px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0;
}

.badges {
    font-weight: 700;
    font-size: 28px;
    color: #ffffff;
    text-align: center;
    margin-top: 0;
}

.moco-button {
    display:block;
    position: relative;
    left: 200px;
    font-size: 16px;
    font-family: 'Librre Baskerville', serif;
    font-weight: 400;
    color:#ffffff;
    width: 212px;
    height: 60px;
    border-radius: 0;
    margin: 0;
    background-color: #988378;
    border-color:transparent;
    border-style: 2px solid #e9c6b3;
    /* position: center;   */
}

.menus {
    justify-content: space-between;
}

.menus :nth-last-child(4) {
    justify-content: center;
}

.text-content-black {
    font-family: 'Rokkitt', serif;
    font-weight: 900;
    font-size: 28px;
    color: #000000;
    text-align: center;
}

.coffee-menu {
    background-image: url(../img/background_1_menu.jpg);
    margin: 0;
    /* padding-right: 0; */
    display: inline-block;
    max-width: 387px;
}

.food-menu {
    background-image: url(../img/backgroud_2_menu.jpg);
    margin: 0;
    display: inline-block;
    max-width: 387px;
}

.drinks-menu {
    background-image: url(../img/background_3_menu.jpg);
    margin: 0;
    display: inline-block;
    max-width: 387px;
}

.text-content-menu {
    text-decoration: none;
    font-family: 'Rokkitt', serif;
    font-weight: 700;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
}

.menu-text {
    text-decoration: none;
    font-family: 'Rokkitt', serif;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}

.menu-button {
    display:block;
    position: relative;
    left: 200px;
    font-size: 14px;
    font-family: 'Librre Baskerville', serif;
    font-weight: 400;
    color:#E59D75;
    width: 212px;
    height: 60px;
    border-radius: 0;
    margin: 0;
    background-color: transparent;
    border-color: transparent;
    float: center;
    /* border-style: 2px solid #e9c6b3; */
}

.cafes {
    background-image: url(../img/background_awards.jpg);
}

.text-content-white {
    font-family: 'Rokkitt', serif;
    font-weight: 900;
    font-size: 28px;
    color: #ffffff;
    text-align: center;
}



    /* font-family: 'Libre Baskerville', serif;
    font-family: 'Rokkitt', serif;  */

    /* background-size: cover; */
    /* background-pozition: cover; */

   
   
    /* bradtraversy/vanillawebprojects */

    /* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */

/* :root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
} */

.reservation {
    background-image: url(../img/background_reservation.jpg);
    background-blend-mode:darken;
    background-attachment: local;
    background-size: cover;
    background-position: center;
    min-height: 800px;
    min-width: 1162px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
}

/* h2 {
  text-align: center;
  margin: 0 0 20px;
} */

.reservation-text {
    text-align: center;
    margin: 0 0 20px;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color: #c28f71;
  border: 2px solid #cc8e3d;
  border-radius: 0;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}